@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-bg--principal: #0B8EE3;
    --cor-lt--01: #6E0BE3;
    --cor-lt--02: #FF00FF;
    --fonte-title--animes: 'Nunito', sans-serif;
    --fonte-logo--name: 'Caveat', cursive;
}

header{
    position: fixed;
    background-color: var(--cor-bg--principal);
    width: 100%;
    height: 75px;
}

.header-container{
    width: 80%;
    height: 100%;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-container--namelogo{
    margin: 0 10px;
}

.header--namelogo{
    user-select: none;
    color:white;
    font-family: var(--fonte-title--animes);
    font-size: 2em;
    font-weight: bolder;
    text-shadow: 0 0 7px black;
    transition-duration: 0.25s ;
}
.header--namelogo-oculto{
    display: none;
}

.header--namelogo:hover{
    font-size: 2em;
}

.header-namelogo--blue{
    color: var(--cor-lt--02);
}

.header-namelogo--pink{
    color: var(--cor-lt--01);
}

.header-container--search{
    width: 50%;
    margin: 0 10px;
}

.header--search{
    font-family: var(--fonte-title--animes);
    width: 100%;
    min-height: 40px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.356);
    padding: 0 7px;
    transition-duration: 0.25s;
}
.header--search:hover{
    transform: scale(1.02);
}
.header--search:focus{
    outline: 0;
}

.header-container--nav{
    margin: 0 10px;
}

.header--nav{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    gap: 20px;
}

#header-input--mobile{
    display: none;
}

.header-nav-div--mobile{
    display: none;
}

.header-nav--ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

.header-nav-ul--mobile{
    list-style: none;
    background-color: var(--cor-lt--01);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 20px;
    position: absolute;
    right: -50vw;
    top: 75px;
    width: 30vw;
    height: 100vh;
    transition: 0.5s;
}   

.header-nav--items{
    width: 70px;
    background-color: var(--cor-lt--01);
    padding: 5px;
    border-radius: 10px;
    font-family: var(--fonte-title--animes);
    text-align: center;
    color: white;
    transition-duration: 0.5s;
}
.header-nav--items:hover{
    transform: scale(1);
}

main{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, purple, rgb(56, 3, 56) 70%);
    background-attachment: fixed;
    box-shadow: inset 0px 7px 15px rgba(0, 0, 0, 0.5);
}

.container-main{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-left: auto;
    padding-right: auto;
    justify-content: center;
    gap: 20px;
    width: 80%;
    min-height: 800px;
}

.container-main--anime{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    max-height: 350px;
    padding: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.container-main-anime--poster{
    width: 200px;
    height: 350px;
}

.anime--poster{
    width: 200px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 0 15px 1px  black; 
    transition-duration: 0.5s;
}

.anime--title{
    font-family: var(--fonte-title--animes);
    font-size: 1.1rem;
    max-width: 200px;
    text-align: center;
    color: white;
}

footer{
    height: 5vh;
    text-align: center;
    background-color: var(--cor-bg--principal);
    box-shadow: 0px -7px 10px rgba(0, 0, 0, 0.692);
}

.footer-container--text{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white
}

.footer-container--text  a{
    text-decoration: none;
    color: var(--cor-lt--01);
    transition-duration: 0.25s;
}
.footer-container--text  a:hover{
    font-size: 1em;
}

@media(min-width: 768px){

    .header--namelogo:hover{
        font-size: 2.2em;
        cursor: pointer;
    }

    .header--search:hover{
        transform: scale(1.02);
    }

    .header-nav--items:hover{
        background-color: var(--cor-lt--02);
        transform: scale(1.1);
        cursor: pointer;
    }

    .anime--poster:hover{
        width: 220px;
        height: 320px;
        cursor: pointer;
    }

    .footer-container--text  a:hover{
        font-size: 1.1em;
        color: var(--cor-lt--02);
    }
}

@media (max-width: 940px){

    #header-input--mobile:checked ~ label .header-nav-div-span--mobile{
        transform: rotate(45deg);
    }
    #header-input--mobile:checked ~ label .header-nav-div-span--mobile::before{
        transform: rotate(90deg);
        top: 0;
    }
    #header-input--mobile:checked ~ label .header-nav-div-span--mobile::after{
        transform: rotate(90deg);
        bottom: 0;
    }

    #header-input--mobile:checked ~ label .header-nav-ul--mobile{
        right: 0;
    }

    .header-nav-div--mobile{
        display: flex;
        width: 45px;
        height: 45px;
    }

    .header-nav-div-span--mobile{
       display: block; 
       position: relative;
       background-color: var(--cor-lt--02);
       width: 30px;
       height: 2px;
       top: 21px;
       left: 7px;
    }
    .header-nav-div-span--mobile::after,.header-nav-div-span--mobile::before {
        background-color: var(--cor-lt--02);
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        transition-duration: .25s;
    }
    .header-nav-div-span--mobile::before{
        top:-10px
    }
    .header-nav-div-span--mobile::after{
        bottom: -10px;
    }

    .header-nav--ul{
         display: none;
    }
}

@media (max-width: 515px) {
    .header--namelogo{
        display: none;
    }
    .header--namelogo-oculto{
        display: flex;
        color:white;
        font-family: var(--fonte-title--animes);
        font-size: 2em;
        font-weight: bolder;
        text-shadow: 0 0 7px black;
        transition-duration: 0.25s ;
    }
}

@media (max-width: 440px) {
    .header--namelogo-oculto{
        display: flex;
        color:white;
        font-family: var(--fonte-title--animes);
        font-size: 1.75em;
        font-weight: bolder;
        text-shadow: 0 0 7px black;
        transition-duration: 0.25s ;
    }

    #header-input--mobile:checked ~ label .header-nav-ul--mobile{
        background-color: var(--cor-lt--01);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding-top: 20px;
        position: absolute;
        right: 0;
        top: 75px;
        width: 40vw;
        height: 100vh;
    }
}
@media (max-width: 430px) {
    .header--search{
        font-size: 0.7rem;
    }
}

@media (max-width: 370px) {
    .header--search{
        font-size: 0.5rem;
    }
}
